@charset "UTF-8";
:root{
    --background-color:rgb(255, 255, 255);
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins', sans-serif ;
    
}
body{
    height: 100vh;
    background: var(--background-color);
    
}

.header{
   display:flex;
   justify-content: center;
   flex-wrap: wrap;
   padding:0 1rem ;
   border:1px solid rgb(0, 0, 0);
   margin-top: 1px;
   
}
.header ul{
    display: flex;
    margin:10px;
    list-style: none;
    gap:1rem;
    font-size: .8em;
    transition: transform 0.3s ease;
    
}
.header a{
    color:black;
    text-decoration: none;
    
    
}
.header li:hover{
    transform:translate(3px,3px);
}
section{
    padding:1rem;
    text-align: center;
}
main{
    border:1px solid black;
    max-width: 550px;
    width:100%;
    margin:auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    
}
.resume{
    display:flex;
    padding:10px 0;
    gap:40px;
    width:100%;
    justify-content: center;
    flex-wrap: wrap;
}
.resume > div {
    display:flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 10px;
    padding:10px;
    width:150px;
}
.newItem{
    display:flex;
    gap:10px;
    align-items: end;
    width:100%;
    justify-content: center;
    flex-wrap: wrap;
}
.divDesc,.divType, .divAmount{
    display: flex;
    flex-direction: column;
    
}
.newItem>button{
    background-color: #68a2ed;
    color:white;
    padding: 0 1rem;
    border-radius: 5px;
    cursor:pointer;
    height:34px;
}
input,select{
    padding:5px;
}
.divTable{
    width:100%;
    display:flex;
    justify-content: center;
}
table{
    width:98%;
    padding: 20px 0;
    border-radius: 5px;
}
th{
    text-align: start;
    border-bottom: inset;
    padding-bottom: 5px;
}
i{
    font-size: 25px;
}
.bxs-chevron-up-circle{
    color:#00c9a7;
}
.bxs-chevron-down-circle{
    color:#d83121;
}
.columnAction{
    width:40px;
    text-align:center;
}
.columnAction>button{
    background: transparent;
    border:30%;
}
.columnAmount{
    width:30%;
    text-align: center;
}
.columnType{
    width:80px;
    text-align:center;
}
#btnPrint{
    display:flex;
    margin:auto;
    margin-top:1rem;
    padding:0.5rem;
}
@media print{
    body{
        font-size: 1.5em;
    }
    header{
        display:none;
    }
    #btnPrint{
        display:none;
    }
}